doctype html
html
  head(class='no-js' lang='en')
    title= title
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    script(src='/jquery/dist/jquery.min.js')
    script(src='/jquery-touch-events/src/jquery.mobile-events.js')
    script(src='/semantic.min.js')

    script(src='https://www.gstatic.com/charts/loader.js')

    link(rel='stylesheet', href='/semantic.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    block content
    
  block js