<div class='ui main text container'>
  <h2 class='ui dividing header'>
    Threads
  </h2>
</div>
<% if (loading === true) { %>
  <div class='ui main container'>
    <div class='ui active centered inline loader'></div>
  </div>
<% } else { %>
  <% if (threads.length) { %>
    <div class='ui main graph container'>
      <div id='line-chart'></div>
    </div>
    <div class='ui container'>
      <div class='ui form'>
        <div class='ui grouped fields'>
          <% _.each(threads, function(thread) { %>
            <div class='field'>
              <div class='ui checkbox'>
                <input type='checkbox' name='<%- thread._id %>' <% if (_.contains(checked, thread._id)) { %>checked='checked'<% } %>>
                <label style='color: <%- thread.color %>'><%- thread.name %></label>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class='ui main text container'>
      <p>You have no active Threads</p>
    </div>
  <% } %>
<% } %>