<div class='ui main container'>
  <h1 class='ui center aligned icon header'>
    <i class='circular users icon'></i>
    Welcome to One
  </h1>
  <h3 class='ui grey header'>
    <div class='quote'>"<%= quote %>"</div>
    <div class='source'>&#8212 <%= source %></div>
  </h3>
  <div class='ui hidden divider'></div>
  <div class='ui hidden divider'></div>
  <div class='ui two column center aligned very relaxed stackable grid' style='position: relative;'>
    <div class='center aligned column'>
      <div class='ui green labeled icon button' rel='show-signup'>
        <i class='signup icon'></i>
        Sign Up
      </div>
      <div class='ui blue labeled icon button' rel='show-login'>
        <i class='user icon'></i>
        Login
      </div>
    </div>
    <div class='ui vertical divider'>
      Or
    </div>
    <div class='center aligned column'>
      <a rel='learn-more' href='#'>Learn more</a>
    </div>
  </div>
</div>